Repository canonical/hotsos, pull requests merged in 2022-11, with the labels that each got.

#467 Support helper factory objects with no attribute
  defs/README.md
  hotsos/core/host_helpers/common.py
  hotsos/core/host_helpers/sysctl.py
  hotsos/core/ycheck/engine/properties/common.py
  hotsos/core/ycheck/engine/properties/vars.py
  tests/unit/test_host_helpers.py
  tests/unit/test_ycheck.py
Labels: hotsos.core

#472 sockstat: do not assume anything
  hotsos/core/plugins/kernel/net.py
  tests/unit/test_kernel.py
Labels: plugin:kernel

#478 Ensure keystone exceptions are identified
  hotsos/core/plugins/openstack/openstack.py
  hotsos/plugin_extensions/openstack/agent_exceptions.py
Labels: plugin:openstack
